<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Sign Up</h1>
                <form id="signupForm">
                    <input type="text" id="username" class="form-control" placeholder="Username" required><br>
                    <input type="password" id="password" class="form-control" placeholder="Password" required><br>
                    <input type="text" id="first_name" class="form-control" placeholder="First Name" required><br>
                    <input type="text" id="last_name" class="form-control" placeholder="Last Name" required><br>
                    <input type="text" id="email" class="form-control" placeholder="Email" required><br>
                    <button type="submit" class="btn btn-primary" id="submit">Sign Up</button>
                    <button class="btn btn-secondary" onclick="window.location.href = 'login.html';">Login</button>
                </form>
            </div>
        </div>
    </div>
    <!-- <script src="{% static 'frontend/signup.js' %}"></script> -->
    <script src="../static/signup.js"></script>
</body>
</html>